# Object Oriented Programming Concepts

In [19]:
#Class 

class Employee:
    def __init__(self,name,age,salary,gender):
        self.name = name 
        self.age = age
        self.salary = salary
        self.gender = gender
        
    def show_employee_details(self):
        print("Name of Employee", self.name)
        print("Age of Employee", self.age)
        print("Salary of Employee is =", self.salary)
        print("Gender of Employee", self.gender)

In [20]:
#Object 

e1 = Employee('Roy',23,50000,'Male')

In [21]:
e1.show_employee_details()

Name of Employee Roy
Age of Employee 23
Salary of Employee is = 50000
Gender of Employee Male

In [4]:
# Inheritance 

class Vehicle:
    def __init__(self,mileage,cost):
        self.mileage = mileage
        self.cost = cost
    
    def vehicle_details(self):
        print("Mileage", self.mileage)
        print("Cost", self.cost)

In [5]:
v1 = Vehicle(25,1000)

In [6]:
v1.vehicle_details()

Mileage 25
Cost 1000

In [7]:
class Car(Vehicle):
    def show_car_details(self):
        print("Car")

In [8]:
c1 = Car(30,1200)

In [9]:
c1.show_car_details()

Car

In [10]:
c1.vehicle_details()

Mileage 30
Cost 1200

In [11]:
# Polymorphism

class Car(Vehicle):
    def __init__(self,mileage,cost,tyres,hp):
        super().__init__(mileage,cost)
        self.tyres = tyres
        self.hp = hp

    def show_car_details(self):
        print("Car")
        print("Tyres",self.tyres)
        print("Horse Power",self.hp)

In [12]:
c1 = Car(30,1300,4,500)

In [13]:
c1.show_car_details()

Car
Tyres 4
Horse Power 500

In [14]:
c1.vehicle_details()

Mileage 30
Cost 1300

In [15]:
from abc import ABC, abstractmethod 

class Animal(ABC):
    
    @abstractmethod
    def eat(self):
        pass

class Tiger(Animal):
    def eat(self):
        print("eat non veg")
    
class Cow(Animal):
    def eat(self):
        print("eat veg")
        
t = Tiger()
t.eat()
    
c = Cow()
c.eat()

eat non veg
eat veg

In [16]:
#Encapsulation

class Employee:
    def __init__(self,name,__age,salary,gender):
        self.name = name 
        self.__age = __age
        self.salary = salary
        self.gender = gender
        
    def show_employee_details(self):
        print("Name of Employee", self.name)
        print("Age of Employee", self._Employee__age)
        print("Salary of Employee is =", self.salary)
        print("Gender of Employee", self.gender)

In [17]:
E = Employee('ram',22,54000,'male')

In [18]:
E.show_employee_details()

Name of Employee ram
Age of Employee 22
Salary of Employee is = 54000
Gender of Employee male